:root {
  --clr-purple: hsl(259, 100%, 65%);
  --clr-red: hsl(0, 100%, 67%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-off-white: hsl(0, 0%, 94%);
  --clr-light-grey: hsl(0, 0%, 86%);
  --clr-smokey-grey: hsl(0, 1%, 44%);
  --clr-off-block: hsl(0, 0%, 8%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input,
button {
  font: inherit;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-off-white);
  height: 100dvh;

  display: grid;
  place-content: center;
}

main {
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 3rem;
  gap: 2rem;
  border-radius: 20px 20px 100px 20px;
}

.arrow-icon {
  max-width: 100%;
  background-color: var(--clr-purple);
  border-radius: 50em;
  padding: 18px;
  width: 60px;
}

.results-container span {
  font-weight: 800;
  font-style: italic;
  font-size: 3.5rem;
  line-height: 0.9;
  letter-spacing: -3px;
}
