:root {
  --clr-cyan-strong: hsl(172, 67%, 45%);
  --clr-cyan-darkest: hsl(183, 100%, 15%);
  --clr-cyan-dark: hsl(186, 14%, 43%);
  --clr-cyan-grey: hsl(184, 14%, 56%);
  --clr-cyan-light: hsl(185, 41%, 84%);
  --clr-cyan-lighter: hsl(189, 41%, 97%);
  --clr-white: hsl(0, 0%, 100%);

  --font-body: "Space Mono", monospace;

  --btn-border-radius: 4px;
  --container-border-radius: 18px;
  --btn-padding: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

html {
  height: 100%;
}

body {
  font-family: var(--font-body);
  background-color: var(--clr-cyan-light);
  color: var(--clr-cyan-grey);
  font-weight: 700;
}

.logo {
  margin-inline: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

main {
  background-color: var(--clr-white);
  display: grid;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: var(--container-border-radius);
  max-width: 850px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.input-container img {
  position: absolute;
  left: 18px;
}

input {
  background-color: var(--clr-cyan-lighter);
  color: var(--clr-cyan-darkest);
  width: 100%;
  padding: 6px 12px;
  border: none;
  border-radius: var(--btn-border-radius);
  text-align: right;
  font-size: 1.5rem;
}

input:focus-visible {
  outline: 2px solid var(--clr-cyan-strong);
}

button {
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: var(--btn-border-radius);
  padding: var(--btn-padding);
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

.button-grid button {
  background-color: var(--clr-cyan-darkest);
  color: var(--clr-white);
}

.button-grid button:hover {
  background-color: var(--clr-cyan-strong);
  color: var(--clr-cyan-darkest);
}

.button-grid button:focus-visible {
  outline: 2px solid var(--clr-cyan-strong);
}

.button-grid input {
  height: revert;
}

.calculations {
  background-color: var(--clr-cyan-darkest);
  color: var(--clr-white);
  padding: 1.5rem;
  border-radius: var(--container-border-radius);
}

.calculations > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.calculations button {
  background-color: var(--clr-cyan-strong);
  color: var(--clr-cyan-darkest);
  font-size: 1.25rem;
  text-transform: uppercase;
}

.calculations button:hover {
  background-color: var(--clr-cyan-light);
  color: var(--clr-cyan-darkest);
}

.calculations button:focus-visible {
  outline: 2px solid var(--clr-cyan-light);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row > div {
  display: flex;
  flex-direction: column;
}

.row span:last-of-type {
  color: var(--clr-cyan-strong);
  font-size: 2rem;
}

.row > span:first-of-type:after {
  content: "/ person";
  color: var(--clr-cyan-grey);
  font-size: 0.75rem;
  display: block;
}

button.selected {
  background-color: var(--clr-cyan-strong);
  color: var(--clr-cyan-darkest);
}

@media (width > 768px) {
  body {
    display: grid;
    place-content: center;
  }

  main {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .logo {
    margin-bottom: 4rem;
  }

  .button-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .calculations {
    justify-content: space-between;
  }

  .row span:last-of-type {
    font-size: 2.5rem;
  }
}
