:root {
  --clr-cyan-strong: hsl(172, 67%, 45%);
  --clr-cyan-darkest: hsl(183, 100%, 15%);
  --clr-cyan-dark: hsl(186, 14%, 43%);
  --clr-cyan-grey: hsl(184, 14%, 56%);
  --clr-cyan-light: hsl(185, 41%, 84%);
  --clr-cyan-lighter: hsl(189, 41%, 97%);
  --clr-white: hsl(0, 0%, 100%);

  --font-body: "Space Mono", monospace;
}

* {
  margin: 0;
  box-sizing: border-box;
}

button {
  font-family: inherit;
  font-weight: inherit;
}

body {
  font-family: var(--font-body);
  background-color: var(--clr-cyan-light);
  color: var(--clr-cyan-grey);
  font-size: 0.75rem;
  font-weight: 700;
}

h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.container {
  background-color: var(--clr-white);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin: 1rem;
  padding: 1.25rem;
  border-radius: 18px;
}

.half-buttons {
  display: flex;
  flex-direction: column;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.button-grid button {
  background-color: var(--clr-cyan-darkest);
  color: var(--clr-white);
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px;
}

.button-grid button:is(:hover, :focus-visible) {
  background-color: var(--clr-cyan-strong);
  color: var(--clr-cyan-darkest);
}

.button-grid button:last-child {
  background-color: var(--clr-cyan-lighter);
  color: var(--clr-cyan-dark);
}

.button-grid button:last-child:is(:hover, :focus-visible) {
  background-color: var(--clr-cyan-strong);
  color: var(--clr-cyan-darkest);
}

.half-calculations {
  background-color: var(--clr-cyan-darkest);
  color: var(--clr-white);

  display: flex;
  flex-direction: column;

  padding: 1rem;
  border-radius: 12px;
}

.half-calculations button {
  background-color: var(--clr-cyan-strong);
  color: var(--clr-cyan-darkest);
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px;
}

.half-calculations button:is(:hover, :focus-visible) {
  background-color: var(--clr-cyan-light);
  color: var(--clr-cyan-darkest);
}
