:root {
  --clr-primary-400: hsl(257, 40%, 49%);
  --clr-accent-400: hsl(300, 69%, 71%);
  --clr-neutral-100: hsl(255, 100%, 100%);

  --ff-header: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;

  --fs-600: 2rem;
  --fs-400: 1.125rem;

  --fw-bold: 600;
  --fw-regular: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

body {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
  background-image: url("images/bg-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;

  font-family: var(--ff-body);
  text-align: center;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 4rem;
}

h1 {
  font-family: var(--ff-header);
  font-size: var(--fs-600);
}

p {
  font-size: var(--fs-400);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.logo {
  width: 150px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.btn {
  cursor: pointer;
  border: none;
  color: var(--clr-primary-400);
  padding: 0.8rem;
  width: 15em;
  border-radius: 50px;
  box-shadow: 2px 5px 10px hsla(256, 39%, 10%, 0.409);
  margin-top: 1rem;
}

.btn:is(:hover, :focus) {
  background-color: var(--clr-accent-400);
  transition: 0.3s;
}

/* social icons */
footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.fa-brands {
  color: var(--clr-neutral-100);
  height: 36px;
  width: 36px;
  --fa-border-radius: 50px;
  --fa-border-padding: 0.5rem;
}

.fa-brands:hover {
  color: var(--clr-accent-400);
  --fa-border-color: var(--clr-accent-400);
  transition: 0.3s;
}

@media screen and (min-width: 30em) {
  body {
    background-image: url("images/bg-desktop.svg");
  }
}

@media screen and (min-width: 60em) {
  body {
    background-image: url("images/bg-desktop.svg");
    background-size: cover;
    text-align: left;
    justify-content: center;
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .body {
    align-items: flex-start;
  }
  .btn {
    width: 12em;
    margin-top: auto;
  }
  .col-right {
    width: 40%;
    max-width: 600px;
  }
  footer {
    justify-content: flex-end;
  }
}
