:root {
  --tomato: hsl(4, 100%, 67%);
  --tomato-transparent: hsl(4, 100%, 67%, 0.2);
  --orange: hsl(22, 94%, 65%);
  --slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  --ff-body: "Roboto", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input,
button {
  font: inherit;
}

img {
  width: 100%;
  max-width: 100%;
}

html,
body {
  height: 100%;
}

body {
  color: var(--charcoal-grey);
  font-family: var(--ff-body);
  line-height: 1.5;
}

.form-container,
.success-modal {
  background-color: var(--white);
}

.form-container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: clamp(2.25rem, 6vw, 3.25rem);
  line-height: 1.1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
  padding: 0;
  margin-bottom: 1rem;
}

li {
  display: flex;
  align-items: flex-start;
}

li::before {
  content: url("./assets/images/icon-list.svg");
  margin-right: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.input-container label,
.input-container .error {
  font-weight: bold;
}

input,
button {
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 1rem 1.5rem;
}

input {
  outline: 1px solid var(--grey);
}

input:focus {
  outline: 2px solid var(--slate-grey);
}

.invalid input {
  outline: 2px solid var(--tomato);
  background-color: var(--tomato-transparent);
}

.error {
  position: absolute;
  right: 0;
  color: var(--tomato);
}

button {
  cursor: pointer;
  color: var(--white);
  background-color: var(--slate-grey);
  font-weight: var(--fw-bold);
}

button:hover,
button:focus {
  background: linear-gradient(90deg, var(--tomato) 35%, var(--orange) 100%);
}

@media (min-width: 768px) {
  body {
    background-color: var(--slate-grey);
    display: grid;
    place-content: center;
  }
  .form-container {
    flex-direction: row-reverse;
    align-items: center;
    gap: 2rem;
    padding: 1.25rem 1.25rem 1.25rem 2.25rem;
    border-radius: 2em;
  }
  form {
    max-width: 400px;
  }
}
